@media screen and (min-width:481px){
  .ad{
    height:400px;
    width:1480px;
  }

  header{
    background-color:black;
    height:200px
  }

  .logo{
    margin-left:470px;
  }

  ul{
    margin-left:450px;
    border-bottom:2px solid white;
  }

  .main{
    background-color:black;
  }

  h1{
    color:white;
    font-size:60px;
    font-family:impact;
    text-align:center;

  }

  html{
  background-color:black;
  height:1000px;
  width:1480px
  }

  p{
    color:white;
  }

  li{
    list-style-type:none;
    background-image:none;
    padding-left:0;
    color:white;
    float:left;
    font-size:20px;
    padding:10px 10px;
    font-family:impact;
  }

  .content{
    border:2px solid white;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
  }

  a{
    font-size:30px
  }

  a:hover{
    color:white;
  }

  .cli{
    float:left;
  }

  .zako{
    font-size:20px;
    position:relative;
    bottom:38px;
    left: 160px;
    display:inline-block;
　  padding:2px;
    background-color:red;
    color:white;
    box-shadow:2px 2px white;
  }
}
@media screen and (max-width:480px){
    .ad{
    height:200px;
    width:600px;
  }

  header{
    background-color:black;
    height:80px
  }

  .logo{
    margin-left:70px;
  }

  ul{
    margin-left:50px;
    border-bottom:2px solid white;
  }

  .main{
    background-color:black;
  }

  h1{
    color:red;
    font-size:25px;
    font-family:impact;
    text-align:center;

  }

  html{
  background-color:black;
  height:1000px;
  width:480px
  }

  p{
    color:white;
  }

  li{
    list-style-type:none;
    background-image:none;
    padding-left:0;
    color:white;
    float:left;
    font-size:20px;
    padding:10px 10px;
    font-family:impact;https://maps.google.com/
  }

  .content{
    border:2px solid white;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    width:60px;
    
  }

  a{
    font-size:45px
    background-color:#FFDDFF;
  }

  a:hover{
    color:white;
  }

  .cli{
    float:left;
  }

  .zako{
    font-size:20px;
    position:relative;
    bottom:45px;
    left: 200px;
    display:inline-block;
　  padding:2px;
    background-color:red;
    color:white;
    box-shadow:2px 2px white;
  }
}
